@model SiteAllAdmin.Models.SeoSetting

@{
    ViewBag.Title = "Details";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>SeoSetting</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Pagetitle)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Pagetitle)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.pagedesciption)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.pagedesciption)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.pagemeta)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.pagemeta)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.keywords)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.keywords)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PageName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PageName)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
