@model SiteAllAdmin.Models.tblproduct

@{
    ViewBag.Title = "Edit";
  
}

<h2>Edit</h2>

@using (Html.BeginForm("Edit", "adProduct", FormMethod.Post, new
{
    enctype = "multipart/form-data"
}))
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <h4>tblproduct</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.HiddenFor(model => model.id)
        @Html.HiddenFor(model => model.entrydate)
        @Html.HiddenFor(model => model.productimage)


        <div class="form-group">
            @*@Html.LabelFor(model => model.fldprodtitle, htmlAttributes: new { @class = "control-label col-md-2" })*@

            <label class = "control-label col-md-2" for="fldprodtitle">Model</label>
            <div class="col-md-10">
                @Html.EditorFor(model => model.fldprodtitle, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.fldprodtitle, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @*@Html.LabelFor(model => model.fldprodsubtitle, htmlAttributes: new { @class = "control-label col-md-2" })*@
            <label class="control-label col-md-2" for="fldprodtitle">Feature</label>
            <div class="col-md-10">
                @Html.EditorFor(model => model.fldprodsubtitle, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.fldprodsubtitle, "", new { @class = "text-danger" })
            </div>
        </div>

        @*<div class="form-group">
            @Html.LabelFor(model => model.flddescription, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.flddescription, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.flddescription, "", new { @class = "text-danger" })
            </div>
        </div>*@

        <div class="form-group">

            <div class="col-md-12">
                <label>Description</label>

                @*<textarea id="summernote" name="blogDesc"></textarea>*@

                @Html.TextAreaFor(model => model.flddescription, 20, 120, new { @id = "summernote" })
                @*@Html.TextAreaFor(model => model.blogDesc, new { htmlAttributes = new { @class = "form-control" }},new { @id= "summernote" })*@
                @Html.ValidationMessageFor(model => model.flddescription, "", new { @class = "text-danger" })
            </div>
        </div>

        

        <div class="form-group">

            <label class="control-label col-md-2" for="fldprodtitle">Mrp/CP/MSP</label>
            @*@Html.LabelFor(model => model.fldseotitle, htmlAttributes: new { @class = "control-label col-md-2" })*@
            <div class="col-md-10">
                @Html.EditorFor(model => model.fldseotitle, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.fldseotitle, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.fldseokeyword, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.fldseokeyword, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.fldseokeyword, "", new { @class = "text-danger" })
            </div>
        </div>

        @*<div class="form-group">
        @Html.LabelFor(model => model.fldextra, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.fldextra, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.fldextra, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.fldextra1, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.fldextra1, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.fldextra1, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.productimage, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.productimage, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.productimage, "", new { @class = "text-danger" })
        </div>
    </div>*@

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    <link href="https://cdn.jsdelivr.net/npm/summernote@0.8.18/dist/summernote.min.css" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/summernote@0.8.18/dist/summernote.min.js"></script>

    <script>
                $(document).ready(function () {
                    $('#summernote').summernote({

                        placeholder: 'Enter Your Product Description',
                        tabsize: 2

                    });
                });


    </script>
}
