@model SiteAllAdmin.Models.HomeSlider

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>HomeSlider</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.homePhoto)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.homePhoto)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.homestatement)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.homestatement)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.fldstatus)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.fldstatus)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.flddoe)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.flddoe)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
