
@{
    ViewBag.Title = "SiteEnquiry";
    //    Layout = "~/Views/Shared/_Layout.cshtml";
}

@using System.Data;


<div class="card height-auto">
    <div class="card-body">
        <div class="heading-layout1">
            <div class="item-title">
                <h3>
                    All One Plus Data

                </h3>
            </div>

        </div>

        <div class="table-responsive">
            <div>
                <table id="customerdata">
                    <thead>
                        <tr>
                            <td>Customer Name</td>
                            <td>Customer Email</td>
                            <td>Customer phone</td>
                            <td>customer monthly Income</td>
                            <td>invest amount</td>
                            <td>CurentCity</td>
                            <td>state Residance</td>
                            <td>Apply For</td>
                            <td>Entry Date</td>
                            <td>Pincode</td>
                        </tr>
                    </thead>

                    <tbody>
                        @{

                            DataTable dt1 = ViewBag.Enqdetauils;
                            foreach (DataRow item in dt1.Rows)
                            {

                                <tr>
                                    <td>@item["CustomerName"]</td>
                                    <td>@item["Customer_Email"]</td>
                                    <td>@item["Customer_phone"]</td>
                                    <td>@item["customer_monthly_Income"]</td>
                                    <td>@item["invest_amount"]</td>
                                    <td>@item["CurentCity"]</td>
                                    <td>@item["stateresidance"]</td>
                                    <td>@item["ApplyFor"]</td>
                                    <td>@item["EntryDate"]</td>
                                    <td>@item["fldextra1"]</td>
                                </tr>

                            }

                        }

                        
                    </tbody>
                </table>


            </div>
        </div>
    </div>
</div>


@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")

<script src="https://cdn.datatables.net/1.10.23/js/jquery.dataTables.min.js"></script>
<script src="https://cdn.datatables.net/buttons/1.6.5/js/dataTables.buttons.min.js"></script>
<script src="https://cdn.datatables.net/buttons/1.6.5/js/buttons.flash.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jszip/3.1.3/jszip.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.53/pdfmake.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.53/vfs_fonts.js"></script>
<script src="https://cdn.datatables.net/buttons/1.6.5/js/buttons.html5.min.js"></script>
<script src="https://cdn.datatables.net/buttons/1.6.5/js/buttons.print.min.js"></script>


    <script>

         


        
        
        
        
        
        
        
        
        $(document).ready(function () {

            $("#customerdata").DataTable({
                dom: 'Bfrtip',
                buttons: [
                    'copy', 'csv', 'excel', 'pdf', 'print'
                ]
            });

        });



    </script>
}

