@{
    ViewBag.Title = "Home Page";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@model SiteAllAdmin.Models.UserDetail

<div class="breadcrumbs-area">
    @*<h3>Welcome To Real me Partner</h3>*@
    <ul>
        <li>
            <a href="#">Home</a>
        </li>
        <li>Customer</li>
    </ul>
</div>

<div class="row">
    <!-- Student Info Area Start Here -->
    <div class="col-5-xxxl col-12">
        <div class="card dashboard-card-ten">
            <div class="card-body">
                <div class="heading-layout1">
                    <div class="item-title">
                        @*<h3>About Me</h3>*@
                    </div>
                    @*<div class="dropdown">
                            <a class="dropdown-toggle" href="#" role="button" data-toggle="dropdown" aria-expanded="false">...</a>

                            <div class="dropdown-menu dropdown-menu-right">
                                <a class="dropdown-item" href="#"><i class="fas fa-times text-orange-red"></i>Close</a>
                                <a class="dropdown-item" href="#"><i class="fas fa-cogs text-dark-pastel-green"></i>Edit</a>
                                <a class="dropdown-item" href="#"><i class="fas fa-redo-alt text-orange-peel"></i>Refresh</a>
                            </div>
                        </div>*@
                </div>
                <div class="student-info">
                    <div class="media media-none--xs">
                        <div class="item-img">
                            @if (Model.fldimage != null)
                            {
                                <img src="@Url.Content("/Uploadcpic/"+Model.fldimage)" class="media-img-auto" alt="@Model.fldName" />
                            }
                            else
                            {
                                <img src="@Url.Content("/img/figure/2.jpg")" class="media-img-auto" alt="@Model.fldName">
                            }


                        </div>
                        <div class="media-body">
                            <h3 class="item-title">@Model.fldName</h3>
                            <p>
                                <b>Registration date: @Model.fldcreateddate </b>
                            </p>
                        </div>
                    </div>
                    <div class="table-responsive info-table">
                        <table class="table text-nowrap">
                            <tbody>
                                <tr>
                                    <td>Name:</td>
                                    <td class="font-medium text-dark-medium">@Model.fldName</td>
                                </tr>
                                <tr>
                                    <td>Mobile number:</td>
                                    <td class="font-medium text-dark-medium">@Model.fldMobile</td>
                                </tr>
                                <tr>
                                    <td>Email:</td>
                                    <td class="font-medium text-dark-medium">@Model.fldemail</td>
                                </tr>
                                <tr>
                                    <td>Street:</td>
                                    <td class="font-medium text-dark-medium">@Model.fldsreet</td>
                                </tr>
                                <tr>
                                    <td>City:</td>
                                    <td class="font-medium text-dark-medium">@Model.fldcity</td>
                                </tr>
                                <tr>
                                    <td>Pincode:</td>
                                    <td class="font-medium text-dark-medium">@Model.fldpincode</td>
                                </tr>
                                <tr>
                                    <td>Store Name</td>
                                    <td class="font-medium text-dark-medium">@Model.fldstorename</td>
                                </tr>
                                <tr>
                                    <td>Store E-Mail:</td>
                                    <td class="font-medium text-dark-medium">@Model.fldstoreemail</td>
                                </tr>
                                <tr>
                                    <td>Store Phone:</td>
                                    <td class="font-medium text-dark-medium">@Model.fldstorecontactno</td>
                                </tr>
                                <tr>
                                    <td>Shop Code:</td>
                                    <td class="font-medium text-dark-medium">@Model.fldshopcode</td>
                                </tr>
                                <tr>
                                    <td>Shop Address:</td>
                                    <td class="font-medium text-dark-medium">@Model.fldstoreaddress</td>
                                </tr>
                                <tr>
                                    <td>State:</td>
                                    <td class="font-medium text-dark-medium">@Model.fldstorestate</td>
                                </tr>
                                <tr>
                                    <td>City:</td>
                                    <td class="font-medium text-dark-medium">
                                        @Model.fldstorecity-(@Model.fldstorepincode.)
                                    </td>
                                </tr>

                                <tr>
                                    <td>Login Pin:</td>
                                    <td class="font-medium text-dark-medium">
                                        @Model.fldpassword
                                    </td>
                                </tr>

                                <tr>
                                    <td>Status:</td>
                                    <td class="font-medium text-dark-medium">
                                        @(Model.fldstatus == true ? "Active" : "Deactive")
                                    </td>
                                </tr>

                                <tr>

                                    @foreach (var item in Model.Addextrafeatures)
                                    {
                                        <td>@item.columnname :</td>
                                        <td class="font-medium text-dark-medium"> @item.columnvalue</td>
                                    }                                    
                                </tr>

                            </tbody>
                        </table>

                        @*<table class="table text-nowrap">
                            <tr>

                               

                            </tr>
                            <tr></tr>
                        </table>*@

                    </div>
                    
                </div>
            </div>
        </div>
    </div>
    <!-- Student Info Area End Here -->

    <div class="col-7-xxxl col-12">
        <div class="row">
            <!-- Summery Area Start Here -->
            <div class="col-lg-4">
                <div class="dashboard-summery-one">
                    <div class="row">
                        <div class="col-6">
                            <div class="item-icon bg-light-magenta">
                                <i class="flaticon-shopping-list text-magenta"></i>
                            </div>
                        </div>
                        <div class="col-6">
                            <div class="item-content">
                                <div class="item-title">Notification</div>
                                <div class="item-number"><span class="counter" data-num="@ViewBag.totalnotice">@ViewBag.totalnotice</span></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            @{

                if (ViewBag.statushistiry != null)
                {

                   try 
	{	        
		 foreach (var item in ViewBag.statushistiry)
                    {
                        <div class="col-lg-4">
                            <div class="dashboard-summery-one" style="min-height: 129px;">
                                <div class="row">
                                    @*<div class="col-6">
                                        <div class="item-icon bg-light-blue">
                                            <i class="flaticon-calendar text-blue"></i>
                                        </div>
                                    </div>*@
                                    <div class="col-12">
                                        <div class="item-content">
                                            <div class="item-title">@item.statusKey</div>
                                            <div class="item-number" style="font-size: 12px;">@item.statusDescription</div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    }
	}
	catch (Exception)
	{
		
		
	}


                }
                else
                {
                    <div class="col-lg-4">
                        <div class="dashboard-summery-one" style="min-height: 129px;">
                            <div class="row">
                                
                                <div class="col-12">
                                    <div class="item-content">
                                        <div class="item-title">Status Not Updated</div>
                                       
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                }

            }

            
            
            <!-- Summery Area End Here -->
            <!-- Exam Result Area Start Here -->
            <div class="col-lg-12">
                <div class="card dashboard-card-six pd-b-20">

                    <div class="card-body">
                        <div class="heading-layout1 mg-b-17">
                            <div class="item-title">
                                <h3>Notice Board</h3>
                            </div>
                            @*<div class="dropdown">
                                <a class="dropdown-toggle" href="#" role="button" data-toggle="dropdown" aria-expanded="false">...</a>

                                <div class="dropdown-menu dropdown-menu-right">
                                    <a class="dropdown-item" href="#"><i class="fas fa-times text-orange-red"></i>Close</a>
                                    <a class="dropdown-item" href="#"><i class="fas fa-cogs text-dark-pastel-green"></i>Edit</a>
                                    <a class="dropdown-item" href="#"><i class="fas fa-redo-alt text-orange-peel"></i>Refresh</a>
                                </div>
                            </div>*@
                        </div>
                        <div class="notice-box-wrap">
                            @foreach (var item in @ViewBag.Noticelist)
                            {
                                <div class="notice-list">
                                    <div class="post-date bg-skyblue">@Convert.ToDateTime(item.NoticeDate).ToString("dd-MM-yyyy")</div>
                                    <h6 class="notice-title">
                                        <a href="#">
                                            @item.NoticeTitle
                                        </a>
                                    </h6>
                                    <div class="entry-meta"> @item.NoticeDescription</div>
                                </div>
                            }


                        </div>
                    </div>



                </div>
            </div>
            <!-- Exam Result Area End Here -->
        </div>
    </div>


</div>


