@model SiteAllAdmin.Models.tblcategory

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>tblcategory</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.fldcategoryname)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.fldcategoryname)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.fldcategorytitle)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.fldcategorytitle)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.fldcategorykeyword)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.fldcategorykeyword)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.flddescription)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.flddescription)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.IsShow)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IsShow)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.fldextra)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.fldextra)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.fldextra1)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.fldextra1)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.fldextra2)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.fldextra2)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.fldextra3)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.fldextra3)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.fldstatus)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.fldstatus)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.fldcatid }) |
    @Html.ActionLink("Back to List", "Index")
</p>
